.places {
  display: grid;
  grid-template-rows: 660px 584px 584px 660px 584px;
  row-gap: 80px;
  max-width: 984px;
  margin: 92px auto;
  /* display: none; */
}

@media screen and (max-width: 1280px) {
  .places {
    grid-template-rows: 640px 564px 564px 640px 564px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    grid-template-rows: 581px 535px 483px 434px 484px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    grid-template-rows: repeat(5, auto);
  }
}
