.places {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 80px;
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1280px) {
  .places {
    max-width: calc(984px - max((1280px - 100vw)/4.6, 0px));
  }
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(928px - max((1024px - 100vw)/1.23, 0px));
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    row-gap: 73px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 64px auto 0;
    row-gap: 50px;
  }
}
