.cover__subtitle {
        /* position: absolute; */
        /* top: 245px; */
        width: 360px;
        min-height: 66px;
        /* z-index: 1; */
        margin: 32px auto;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        text-align: center;
}