.header {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
  max-width: min(calc(100% - 96px), 1184px);
  min-height: 52px;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: min(calc(100% - 96px), 928px);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: min(calc(100% - 48px), 928px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: calc(100% - 32px);
    min-height: 42px;
    margin: 16px auto 0;
  }
}
