@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_underline/header__lang-link_underline.css);

.header {
    position: relative;
    margin: 28px auto 0;
    max-width: 1184px;
    height: 82px;
}