.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
    /* Вы пишете, мне ошибку
    На 768:
    Не по макету параметры шрифта у текста в place
    Но именно эти параметры я вижу в Figma
    16px
    26px*/
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
  }
}
