.footer__copyright {
  position: absolute;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 18px;
}

@media screen and (max-width: 1024px) {
  .footer__links {
    right: 0;
    top: 2px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    left: 16px;
    bottom: 24px;
    font-size: 14px;
    line-height: 14px;
  }
}
