.lead__image {
    /* width: 100%; */
    max-width: 984px;
    /* height: 100%; */
    /* height: max(615px, 100%); */
    /* height: 100vmin; */
    /* padding-bottom: min(100vw, 615px); */
    padding-bottom: 100%;
    background-image: url(../../../images/lead__image.png);
    /* position: relative; */
    /* background-size: 100% auto; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

