.lead__image {
  background-image: url(../../../images/lead__image.png);
  background-size: cover;
  padding-top: 62.5%;
  /* padding-top: 100%; */
  margin-top: 64px;
}


@media screen and (min-width: 1280px) {
  .lead__image {
    /* min-height: 615px; */
    max-width: 984px;
    /* background-image: url(../../../images/cover__background.png); */
  }
}
