.intro {
  margin-top: 114px;
  /* margin-left: calc(max(100vw - 1280px, 0px)/2 + 48px); */
  margin-left: 148px;
  max-width: 690px;
  min-height: 429px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 0;
  }
}
