.cover__background {
  display: block;
  max-width: 1184px;
  /* max-height: 740px; */
  min-height: 200px;
  background-image: url(../../../images/cover__background.png);
  position: relative;
  background-size: cover;
  text-decoration: none;
  color: white;
  height: calc(min(100vw/1.73, 740px));
  z-index: 1;
}

.cover__background::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(42, 44, 47);
  opacity: 0.3;
  z-index: -1;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 200px;
  }
}
