.cover__background {
  display: block;
  max-width: 1184px;
  /* min-height: 740px; */
  background-image: url(../../../images/cover__background.png);
  /* background-color: aqua; */
  position: relative;
  background-size: cover;
  /* padding-top: max(56.25%, 740px); */
  padding-bottom: 245px;
  /* height: 0; */
  text-decoration: none;
  color: white;
}

.cover__background::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}
