@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);

.footer {
    min-height: 18px;
    max-width: 1184px;
    position: relative;
    margin: 92px auto;
    padding-bottom: 24px;
}