.places__url-heading {
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0;
}


@media screen and (max-width: 1023px) {
  .places__url-heading {
    min-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .places__url-heading {
    min-width: 288px;
  }
}
