.header__lang-links {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  padding-top: 18px;
  padding-left: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
}


@media screen and (max-width: 767px) {
  .header__lang-links {
    padding-top: 14px;
  }
}
